:host {
  grid-column-start: 2;
  grid-row-start: 2;
}

.content {
  // content height = 100vh (full page) - 100px (header height)
  height: 1%;
  padding: var(--spacing-m);
  padding-bottom: var(--spacing-l);
  overflow-y: auto;
}
