/* stylelint-disable selector-no-qualifying-type */

:host {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.nav {
  width: 223px;
  height: calc(100vh - 100px);
  padding-top: 100px;
  background-color: var(--color-secondary-500);

  &-wrapper {
    padding: var(--spacing-s);
  }

  &-list {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
      height: 73px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--color-primary-500);
      > a {
        position: relative;
        display: grid;
        height: 100%;
        align-items: center;
        color: var(--color-white-500);
        grid-template-columns: 75px 132px;
        grid-template-rows: auto;
        text-decoration: none;

        .icon {
          justify-self: center;
        }

        &:hover {
          opacity: 0.7;
        }

        &.active {
          color: var(--color-white-500);
          font-weight: bold;

          &::after {
            position: absolute;
            right: -8px;
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-right: 16px solid var(--color-white-500);
            border-bottom: 13px solid transparent;
            content: "";
            filter: drop-shadow(0 4px rgb(0 0 0 / 5%));
          }

          .icon {
            > path {
              fill: var(--color-orange-800);
            }
          }
        }
      }
    }
  }
}
